<web-app>

  <display-name>Hello World</display-name>

  <servlet>
    <servlet-name>Movie</servlet-name>
    <servlet-class>com.mycompany.MovieServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Movie</servlet-name>
    <url-pattern>/movie</url-pattern>
  </servlet-mapping>

  <error-page>
    <exception-type>com.mycompany.exceptions.DatabaseActionException</exception-type>
    <location>/error.jsp</location>
  </error-page>

</web-app>